/* #main-ingredient-search {
  margin-left: auto !important;
  margin-right: auto !important;
  align-items: center;
} */

/* 
h2 {
  text-align: center;
}
#search-input {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  align-items: center;
  position: relative !important;
  width: 189px;
} */

/* .container-fluid {
  margin-left: 0 !important;
  margin-right: 0 !important;
} */
